###########
# General #
###########

TAGS
*.aux
*.lia.cache
*.glob
*.vo
*.cm*
*.back
*.o
*.a
*.annot
*~
*_DEP
*.depend
\#*
.\#*
.DS_Store
*.tmp
/.git_version
*~
frama_c_journal.ml

#build
Makefile.plugin.generated
configure
autom4te.cache
/.depend
/config.log
/config.status
/frama-c-*.tar.gz
/.log.autoconf
/.Makefile.user
/ocamlgraph/
META.*
*.script.back
*.frama-c*
*.out